<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.internetapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternetApi"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="true">
        <activity
            android:name=".ui.AccountOutcomeRegisterActivity"
            android:exported="false"
            android:label="Register outcome" />
        <activity
            android:name=".ui.MediaDetailsActivity"
            android:exported="false"
            android:label="Media details" />
        <activity
            android:name=".ui.MediaActivity"
            android:exported="false"
            android:label="@string/title_activity_media" />
        <activity
            android:name=".ui.CategoryActivity"
            android:exported="false"
            android:label="@string/title_activity_category" />
        <activity
            android:name=".ui.ChartActivity"
            android:exported="false"
            android:theme="@style/Theme.InternetApi.NoActionBar" />
        <activity
            android:name=".ui.AccountIncomeDetails"
            android:exported="false"
            android:label="Income details" />
        <activity
            android:name=".ui.AccountOutcomeDetails"
            android:exported="false"
            android:label="Outcome details" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:label="Settings" />
        <activity
            android:name=".ui.UpdateBudgetActivity"
            android:exported="false"
            android:label="Update budget" />
        <activity
            android:name=".ui.AccountUpdateActivity"
            android:label="Update account" />
        <activity
            android:name=".ui.BudgetActivity"
            android:label="Budgets" />
        <activity
            android:name=".ui.AccountActivity"
            android:label="Accounts" />
        <activity
            android:name=".ui.InvoiceDetailsActivity"
            android:label="Invoice details" />
        <activity
            android:name=".ui.AccountDetailsActivity"
            android:label="Account Details" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>